

<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h1>editar nota</h1>
        </div>
        <div class="card-body">
            <form action="/notes/edit/">
                <div class="form-group">
                    <input type="text" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>